* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ecf0f1;
}

p {
  color: #524c56;
  font-size: 120%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: center;
}

h1 {
  font-size: 170%;
  line-height: 155%;
  font-weight: 500;
  color: #524c56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}


h2 {
  font: normal 2.4em Calibri, sans-serif;
  background: -webkit-linear-gradient(top, rgb(179, 241, 179), rgb(56, 173, 202));
  width: 35%;
  border-radius: 10px;
  margin: 15px auto;
  text-align: center;
  padding: 15px;
  color: rgb(45, 41, 48);
  box-shadow: darkgrey 5px 5px 10px;
}

h3 {
  font-size: 170%;
  line-height: 155%;
  font-weight: 500;
  color: #524c56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: #524c56;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #c3d7df;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: -4px;
  border-radius: 20px;
}

figure img {
box-shadow: darkslategray 5px 5px 10px;
-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
}

figure img:hover{
  -webkit-transform: scale(1.2);
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}


header #logo img {
  margin: 20px;
  float: left;
  width: 275px;
}

/*Navegacion*/

nav {
  float: right;
  padding: 25px 20px 0 0;
}

#menu-icon {
  display: none;
  font-size: 50px;
}

ul {
  list-style: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  color: #6991ac;
}

.current {
  color: #3f5767;
}

/*Formulario*/

body, .default {
  float: center;
  line-height: 3.6em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #669;
  text-align: center;
}

#one-column-emphasis {
  margin: auto;
  width: 780px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 0 10px 1px rgba(0,0,0,3);
}

#one-column-emphasis caption {
  font-size: 40px;
}

#one-column-emphasis th {
  font-size: 14px;
  font-weight: normal;
  padding: 12px 15px;
  color: #039;
}

#one-column-emphasis td {
  padding: 10px 15px;
  color: #669;
  border-top: 10px solid #e8edff;
}

.oce-first {
  background: #d0dafd;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

#one-column-emphasis tr:hover td {
  color: rgb(1, 1, 80);
  background: #eff2ff;
}


.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}


.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #6991ac;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #fff;
  font-size: 450%;
  padding: 20%;
}

.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar {
  float: right;
  margin: 0 auto;
  width: 30%;
  height: auto;
  padding: 1%;
}

.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background: #2c3e50;
  width: 100%;
  overflow: auto;
}

.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}

.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #c3d7df;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
}

.social {
  text-align: center;
}

.social li{
  display: inline;
}

.social i{
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.footer-second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}

.footer-second p, .footer-second a {
  text-align: center;
  color: #ffff;
  font: 160%;
  line-height: 155%;
}


